@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Caveat", cursive;
}

/* repeat part  */

.btn {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px;
  border-radius: 8px;
  background-color: #e55473;
  border: none;
}

.btn.btn:hover {
  color: black;
}

.paragraph {
  color: #27272799;
  font-size: 24px;
  font-weight: 400px;
}

.heading {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

/* banner section  */

.banner-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: #e554731a;
  padding: 0 240px;
}

.banner-container h2 {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

.banner-container p {
  margin: 32px 0;
}

/* featured-flower  */

.featured-flower {
  margin: 128px 242px;
}

.features-heading {
  text-align: center;
}

.features-heading h3 {
  margin-bottom: 24px;
}

.features-heading p {
  margin-bottom: 48px;
}

.features-flower-img {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.pink {
  padding: 110px 78px 0px;
  border-radius: 50% 50% 0 0;
  background-color: #a7216226;
}

.pink img {
  position: relative;
  top: 5px;
}

.red {
  padding: 117px 47px 51px;
  border-radius: 50% 50% 0 0;
  background-color: #a7216226;
}

.red img {
  position: relative;
  top: 5px;
}

.yellow {
  padding: 67px 75px 0px;
  border-radius: 50% 50% 0 0;
  background-color: #a7216226;
}

.yellow img {
  position: relative;
  top: 5px;
}

.flower-name {
  color: #272727;
  font-size: 24px;
  font-weight: 700px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px;
}

.delivery-info {
  padding: 86px 175px;
  border-radius: 8px;
  background-color: #2727270d;
  display: flex;
  justify-content: space-around;
}

.delivery-info img {
  margin-bottom: 24px;
}

.delivery-info p {
  color: #272727cc;
  font-size: 24px;
  font-weight: 600;
}

.delivery-man {
  text-align: center;
}

.bookey-flower {
  text-align: center;
}

.delivery-call {
  text-align: center;
}

/* sale section  */

.sale-container {
  padding: 70px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background-color: #e554730d;
  margin-bottom: 100px;
}

.sale-des {
  text-align: center;
}

.sale-container h4 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.sale-container p {
  margin-bottom: 32px;
}

.sale-container span {
  color: #e55473;
  font-size: 40px;
  font-weight: 800;
}
